.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.modal-bg {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition-duration: 0.5s;
}

.modal-bg:hover {
    opacity: 0.5;
    transition-duration: 0.5s;
}

.modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    position: relative;
    padding: 30px;
    width: 527px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

.modal button {
    width: 353px;
    height: 67px;

    background: #C01870;
    border-radius: 67px;
    border-style: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
}
