.slide1 {
    display: flex;
    width: 100%;
    height: 1080px;
    background-image: url("../img/slide1_background.png");
    background-size: cover;
    background-position-x: center;
    justify-content: center;
}

.slide1 > .gun {
    display: block;
    position: absolute;
    right: 0;
    top: 227px;
    overflow: hidden;
}

.slide1 .gun img {
    position: relative;
    right: -50vw;
    transition: 2s;
    z-index: 2;
}

.slide1:hover .gun img {
    transform: translateX(-50vw);
}

header {
    display: flex;
    width: 100%;
    height: 91px;
    justify-content: space-between;
    padding-top: 45px;
}

header > .left_block {
    display: flex;
}

header > .left_block > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header > .left_block > ul > li {
    height: 100%;
}

header > .left_block > ul > li > a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 24px;
}

header > .left_block > ul > li > a:hover {
    background-color: black ;
}

header > .right_block {
    display: flex;
    align-items: center;
}

header > .right_block > .phone_block {
    display: flex;
}

header > .right_block > .phone_block > img {
    width: 30px;
    height: 30px;
}

header > .right_block > .phone_block > a {
    font-size: 20px;
    margin-left: 17px;
}

header .order_phone {
    width: 235px;
    height: 67px;
    margin-left: 45px;
    background: none;
    border-color: #C01870;
    border-style: solid;
    border-radius: 67px;
    font-size: 20px;
    color: white;
    transition-duration: 0.5s;
}

header .order_phone:hover {
    background-color: #C01870;
    transition-duration: 0.5s;
    cursor: pointer;
}

.offer {
    position: absolute;
    width: 570px;
    height: 643px;
    top: 263px;
    text-align: left;
}

.offer > .offer_title {
    font-size: 50px;
    color: white;
    line-height: 74px;
    text-transform: uppercase;
    font-weight: 900;
}

.modern {
    color: #E9B206;
}

.modern-light {
    text-transform: none;
    font-weight: 400;
}

.offer > .offer_title p {
    margin: 0;
}

.offer .offer_desc {
    margin-top: 28px;
}

.offer .offer_desc ul li {
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.offer .offer_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 372px;
    height: 67px;
    background-color: #C01870;
    border-radius: 67px;
    border-style: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition-duration: 0.5s;
}

.offer .offer_button_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid #C01870;
    border-radius: 67px;
    margin-top: 47px;
    width: 396px;
    height: 91px;
    transition-duration: 0.5s;
}

.offer .offer_button:after {
    display: block;
    content: '';
    background-image: url("../img/arrow.svg");
    width: 40px;
    height: 13px;
    margin-left: 24px;
    transition-duration: 0.5s;
    background-repeat: no-repeat;
}

.offer .offer_button_block:hover {
    border-color: white;
    transition-duration: 0.5s;
    cursor: pointer;
}

.offer .offer_button_block:hover > .offer_button {
    transition-duration: 0.5s;
    cursor: pointer;
}

.offer .offer_button:hover:after {
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;
    background-image: url("../img/hover_arrow.svg");
    background-repeat: no-repeat;
}

