.App {
  text-align: center;
  height: 100vh;
}

@font-face {
  font-family: Circe;
  src: url("./fonts/Circe-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Circe;
  src: url("./fonts/Circe-Bold.ttf");
  font-weight: 800;
}

body {
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 1242px;
  margin: 0;
  font-family: Circe, serif;
  font-weight: 400;
  font-size: 16px;
}

.content {
  min-width: 1242px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

